@{
    ViewBag.Title = "Contact";
}

<body style="margin-top:100px">
    <h3><b>PHONE NUMBER</b></h3>
    <strong>VARUN R KASHYAP : 8660459015</strong><br />
    <strong>RAKSHITH D :  9448191639</strong>
    <br />
    <br />
    <h3><b>EMAIL ADDRESS</b></h3>


    <address>
        <strong>VARUN R KASHYAP:</strong>   <a href="www.gmail.com">varunkashyap.1rn17cs071@gmail.com</a><br />
        <strong>RAKSHITH D:</strong> <a href="www.gmail.com">rakshithd.1rn17cs073@gmail.com</a>
    </address>
</body>