@{
    ViewBag.Title = "Home Page";
}
<body style="background-image:url(./pics/bg.jpg);background-size:cover;background-repeat:no-repeat">
    <h1 style="margin-top:100px;color:darkgoldenrod"><strong>INTERNALS MANAGEMENT SYSTEM AND REPORT GENERATION</strong></h1>
    <br />
    <br />
    <h4 style="color:coral">
        <strong>
            A web application which is used to update , monitor and store the results of the Internal assessment of the institution
            using MVC Architecture and finally generate a report of performance of a student at the end of a semester.
        </strong>
    </h4>

    <br />
    

</body>
   
  
    
